body {
  font-family: "Open Sans", sans-serif;
}
header {
  background-color: #fff8f3;
  background-image: url("../images/header_bg.png");
  background-repeat: no-repeat;
  background-position: bottom right;
}
nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 230px;
}
/* navigation heading style */
.nav-title {
  font-size: 45px;
  font-weight: 800;
  color: #181818;
  cursor: default;
}
.primary-color {
  color: #fd6e0a;
}
/* navigation button and anchor style */
nav a {
  text-decoration: none;
}
nav > ul {
  display: flex;
  align-items: center;
}
nav li {
  list-style: none;
  margin-right: 50px;
}
nav button {
  /* button related style */
  background-color: #fd6e0a;
  border: none;
  border-radius: 5px;
  /* button text style */
  padding: 18px 35px 19px 36px;
  font-size: 20px;
  color: white;
  font-weight: 700;
  cursor: pointer;
}
/* this is just creative hover for more beautiful */
nav button:hover {
  background-color: #fff8f3;
  color: #fd6e0a;
  border: 0.1px solid #fd6e0a;
  padding: 18px 34px 19px 35px;
}
nav li a {
  color: #474747;
}
/* this is main conten style */
.main-container {
  padding-left: 230px;
  padding-right: 38px;
  padding-top: 47px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.content-head {
  max-width: 550px;
}
/* this is image related style */
.hardy-chacha {
  width: 584px;
  height: 676px;
}
/* button related style */
.btn-content {
  /* button related style */
  background-color: #fd6e0a;
  border: none;
  border-radius: 5px;
  /* button text style */
  padding: 18px 35px 19px 36px;
  font-size: 20px;
  color: white;
  font-weight: 700;
  cursor: pointer;
  margin-right: 30px;
}
/* heading related style */
.des-first {
  font-size: 45px;
  font-style: normal;
  font-weight: 600;
  margin-bottom: 0;
}
.des-second {
  font-size: 85px;
  font-style: normal;
  font-weight: 700;
  margin-top: 5px;
  margin-bottom: 20px;
}
.des-third {
  margin-top: 0%;
  margin-bottom: 30px;
  font-size: 18px;
  font-weight: 400;
  color: #757575;
  line-height: 30px;
}
/* main part start */
.about {
  background-color: #fff8f3;
  max-width: 1140px;
  margin: 130px auto;
  padding: 209px 157px 219px 156px;
}
.section-title,
.section-description {
  text-align: center;
  line-height: 30px;
  cursor: default;
}
.section-address {
  display: flex;
  align-items: center;
  margin-left: 179px;
  margin-right: 179px;
  justify-content: space-around;
}
.address-name,
.email,
.birth,
.country {
  text-align: center;
  cursor: default;
}
/* section 1 complete  */
.skill-section {
  margin-left: 230px;
  margin-right: 230px;
  display: flex;
  justify-content: space-around;
}
.what-i-do {
  text-align: center;
  max-width: 909px;
  margin-left: auto;
  margin-right: auto;
}
.javascript,
.node-js,
.mongobd,
.react {
  width: 267px;
  height: 300px;
  border-radius: 5px;
  padding: 30px 33px;
  line-height: 28px;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  background-color: white;
  box-shadow: 0px 6px 50px 0px rgba(0, 0, 0, 0.06);
}
.skill-section p {
  color: #757575;
}
